<form asp-controller="Home" asp-action="Welcome" method="post">

    <! --- a submit button --->
    name: <input type="text" name="name" />

    <br />
    password: <input type="password" name="password" />


    <input type="submit" />

 


</form>
