<form asp-controller="Home" asp-action="Welcome" method="post">

    <! --- a submit button --->
    name: <input type="text" name="name" />

    <br />
    password: <input type="password" name="password" />


    <input type="submit" />

    <! --- a set of radio buttons w/name of "operation" and the following vales: Plus, Minus, Multiply, divide, --->
    Plus:     <input type="radio" name="operation" value="Plus" />
    Minus:    <input type="radio" name="operation" value="Minus" />
    Multiply: <input type="radio" name="operation" value="Multiply" />
    Divide:   <input type="radio" name="operation" value="Divide" />


</form>
